{% extends "base.html" %}
{% block content %}

    <h3 class="light-grey-text text-darken-4 center-align">Edit Word</h3>

    <div class="row card-panel grey lighten-4">
        <form class="col s12" method="POST" action="{{ url_for('edit_inventory', inventory_id=inventory._id) }}">
            <!-- category selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-grey-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Category</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-grey-text text-darken-4"></i>
                    <input id="inventory_name" name="inventory_name" minlength="2" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="inventory_name">Word</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-grey-text text-darken-4"></i>
                    <textarea id="inventory_description" name="inventory_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="inventory_description">Meaning</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-large grey darken-1 text-shadow" type="submit">
                        Edit Word <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}