{% extends "base.html" %}
{% block content %}

    {% for inventory in inventories %}
        {{ inventory.inventory_name }}<br>
        {{ inventory.category_name }}<br>
        {{ inventory.inventory_description }}<br>
    {% endfor %}

    <ul class="collapsible">
        {% for inventory in inventories %}
        <li>
            <div class="collapsible-header white-text grey darken-2 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ inventory.inventory_name }}</strong>
            </div>
            <div class="collapsible-body">
                <strong>{{ inventory.category_name }}</strong>
                <p>{{ inventory.inventory_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}

