{% extends "base.html" %}
{% block content %}

    <h3 class="light-grey-text text-darken-4 center-align">All Words</h3>

    <ul class="collapsible">
        {% for inventory in inventories %}
        <li>
            <div class="collapsible-header white-text grey darken-2 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == inventory.created_by|lower %}
                        <a href="{{ url_for('delete_inventory', inventory_id=inventory._id) }}" class="btn-small red accent-4">Delete</a>
                        <a href="{{ url_for('edit_inventory', inventory_id=inventory._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ inventory.category_name }}</strong>
                </div>    
            </div>
            <div class="collapsible-body">
                <strong>{{ inventory.inventory_name }}</strong> :
                <p>{{ inventory.inventory_description }}</p>
                <p><em>by: {{ inventory.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}

